@{
    ViewData["Title"] = "Home Page";
    var todosData = ViewData["todos"] as TodoViewModel;
}

<div class="text-center">
    <table>
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (todosData != null && todosData.TodoList != null)
            {
                foreach (var t in todosData.TodoList)
                {
                    <tr>
                        <th class="todos-column px-2" scope="row">@t.Id</th>
                        <td class="todos-column px-2">@t.Name</td>
                        <td class="buttons-column">
                            <input type="submit" class="btn btn-danger" value="Delete" onClick="deleteTodo(@t.Id)" />
                            <input type="submit" class="btn btn-primary" value="Update" onClick="populateForm(@t.Id)" />
                        </td>

                    </tr>
                }
            }else
            {
                <tr>
                    <td colspan="4">No todos available</td>
                </tr>
            }
            @* <tr>
            <td>@Model.Name</td>
            </tr> *@
        </tbody>
    </table>
</div>
